<h1> Create a new tea blend!</h1>

<%= form_for(@tea) do |f|%>
<% if @tea.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@tea.errors.count, "error") %>
         prohibited this tea from being saved:
     </h2>
 
      <ul>
       <% @tea.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
      </ul>
     </div>
 <% end %>



  <div>
     <%= f.label :flavor, "Flavor: " %>
     <%= f.text_field :flavor %>
 </div>
 <div>
   <%= f.label :description, "Description: " %>
   <%= f.text_field :description %>
 </div>

 <p> Select a Brand that already exists: </p>
 <div>
   <%= f.collection_select :brand_id, Brand.all, :id, :title %>

 </div>

<p> Or create a new Brand: <p>
<div> 
<%=f.fields_for :brand do |b| %> 
  <%=b.label :name, "Name: " %>
  <%= b.text_field :name%>
<% end %>
</div>
<br>
 <%= f.submit%>
<% end %>  