<p id="notice"><%= notice %></p>

<h1>Teas</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Flavor</th>
      <th>Description</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teas.each do |tea| %>
      <tr>
        <td><%= tea.brand.title %></td>
        <td><%= link_to tea.flavor, tea_path(tea.id) %></td>
        <td><%= tea.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tea', new_tea_path %>
